


.container {
	width: 1000px;
}
.row {
	margin: 20px 0 20px 0;
}
#profile_pic {

	border: 1px solid black;
}
	#pro {
		width: 100%;
		height: 200px;
	}
#about_artist {
	border: 1px solid black;
	height: 250px;
	overflow: scroll;
	padding: 20px;
}
	h3 {
		margin: 0 0 0 20px;
		text-decoration: underline;
	}
#about_artwork {
	border: 1px solid black;
	height: 400px;
	overflow: scroll;
	padding: 20px;
}
#suggested {
	border: 1px solid black;
	height: 400px;
	padding: 20px;
	overflow: scroll;
}	
	.suggested_art {
		padding: 15px;
	}